*{
    box-sizing: border-box;
    text-align: left;
    overflow: visible;
}

h1 {
    background-color: #ffffff;
    padding: 10px;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

#fixed-name {
    color: #4aaaa5;
    font-family: 'Georgia';
    width: 25%; height: 40px;
    margin-bottom: 20px;
    float: left;
}

#fixed-about {
    top: 15px;
    color: #777777;
    font-size: small;
    float: right;
    padding: 10px;
}

#fixed-portfolio {
    float: right;
    top: 15px;
    font-size: small;
    padding: 10px;
}

#fixed-contact {
    top: 15px;
    font-size: small;
    float: right;
    padding: 10px;
}

body {
    height: 960;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/full-bloom.png");
}

#aboutme {
    background-color: #ffffff;
    margin-top: 130px;
    margin-bottom: 30px;
    margin-left: 18%;
    margin-right: 18%;
    padding: 15px;
    float: left;
}

hr {
    color: #777777;
    margin-bottom: 15px;
}

h2 {
    clear: both;
    color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
}

#profpic {
    height: 200px;
    float: left;
}

footer {
    clear: both;
    background-color: darkblue;
    text-align: center;
    padding: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

#portfoliopara {
    background-color: #ffffff;
    margin-top: 130px;
    margin-bottom: 30px;
    margin-left: 18%;
    margin-right: 18%;
    float: left;
}

/* projects here */

#beforeCaseyGroup {
    height: 300px;
    padding: 25px;
}

#beforeCaseyGroupword {
    color: white;
    background-color: darkblue;
    padding: 5px;
    text-align: center;
    font-size: medium;
    position: absolute;
    top: 450px;
    left: 400px;
}

#HolidayWilderness {
    height: 300px;
    padding: 30px;
}

#HolidayWildernessword {
    background-color: darkblue;
    color: white;
    font-size: medium;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 425px;
    left: 850px;
}

#HolidayWildernessbox {
    height: 400px;
    width: 500px;
    padding: 25px;
}

#DesignQuilt {
    height: 300px;
    padding: 30px;
}

#DesignQuiltword {
    background-color: darkblue;
    color: white;
    font-size: medium;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 800;
    left: 750px;
}

#DesignQuiltbox {
    height: 400px;
    width: 500px;
    padding: 50px;
}

#ClickGame {
    height: 300px;
    padding: 30px;
}

#ClickGameword {
    background-color: darkblue;
    width: 115px;
    color: white;
    font-size: medium;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 1150px;
    left: 550px;
}

#ClickGamebox {
    height: 200px;
    padding: 50px;
}

#GroupTwo {
    height: 250px;
    padding: 30px;
}

#GroupTwoword {
    background-color: darkblue;
    width: 100px;
    color: white;
    font-size: medium;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 150px;
    left: 210px;
}

#GroupTwobox {
    position: relative;
    float: left;
}

#DogFinder {
    height: 250px;
    padding: 30px;
}

#DogFinderword {
    background-color: darkblue;
    width: 75px;
    color: white;
    font-size: medium;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 160px;
    left: 180px;
}

#DogFinderbox {
    position: relative;
    float: left;
}

#MYSQL {
    height: 275px;
    padding: 30px;
}

#MYSQLword {
    background-color: darkblue;
    width: 115px;
    color: white;
    font-size: medium;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 185px;
    left: 180px;
}

#MYSQLbox {
    position: relative;
    float: left;
}

#Group {
    height: 250px;
    padding: 30px;
}

#Groupword {
    background-color: darkblue;
    width: 75px;
    font-size: medium;
    text-align: center;
    color: white;
    padding: 5px;
    position: absolute;
    top: 160px;
    left: 180px;
}

#Groupbox {
    position: relative;
    float: left;
}

#Train {
    height: 250px;
    padding: 30px;
}

#Trainword {
    background-color: darkblue;
    width: 75px;
    font-size: medium;
    text-align: center;
    color: white;
    padding: 5px;
    position: absolute;
    left: 140px;
    top: 150px;
}

#Trainbox {
    position: relative;
    float: left;
}

#GIF {
    height: 250px;
    padding: 30px;
}

#GIFword {
    background-color: darkblue;
    width: 55px;
    font-size: medium;
    text-align: center;
    color: white;
    padding: 5px;
    position: absolute;
    top: 150px;
    left: 110px;
}

#GIFbox {
    position: relative;
    float: left;
}

#Trivia {
    height: 250px;
    padding: 30px;
}

#Triviaword {
    background-color: darkblue;
    width: 35%;
    font-size: medium;
    text-align: center;
    color: white;
    padding: 5px;
    position: absolute;
    top: -100px;
    left: 130px;
}

#Triviabox {
    position: relative;
}

#Crystal {
    height: 250px;
    padding: 30px;
}

#Crystalword {
    background-color: darkblue;
    width: 100px;
    font-size: medium;
    text-align: center;
    color: white;
    padding: 5px;
    margin-left: 150px;
    position: absolute;
    top: 120px;
    left: 55px;
    }

#Crystalbox {
    position: relative;
    float: left;
}

#Hangman {
    height: 250px;
    padding: 30px;
}

#Hangmanword {
    background-color: darkblue;
    font-size: medium;
    text-align: center;
    color: white;
    padding: 5px;
    position: absolute;
    top: 160px;
    left: 85px;
}

#Hangmanbox {
    clear: both;
    position: relative;
    float: left;
}

.box {
    width: 100px;
    height: 30px;
}

#submit {
    background-color: darkblue;
    color: white;
    width: 80px;
}

#contactpage {
    background-color: #ffffff;
    text-align: center;
    border: 20px;
    padding: 15px;
    float: left;
    margin-left: 40%;
    margin-top: 10%;
    margin-right: 20%;
}