*{
    box-sizing: border-box;
    text-align: left;
    overflow: auto;
}

h1 {
    background-color: #ffffff;
    padding: 10px;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

#fixed-name {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia';
    width: 25%; height: 40px;
    margin-bottom: 20px;
    float: left;
}

#fixed-about {
    top: 15px;
    color: #777777;
    font-size: small;
    float: right;
    padding: 10px;
}

#fixed-portfolio {
    float: right;
    top: 15px;
    font-size: small;
    padding: 10px;
}

#fixed-contact {
    top: 15px;
    font-size: small;
    float: right;
    padding: 10px;
}

body {
    height: 960;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/full-bloom.png");
}

#aboutme {
    background-color: #ffffff;
    margin-top: 130px;
    margin-bottom: 30px;
    margin-left: 18%;
    margin-right: 18%;
    padding: 15px;
    float: left;
}

hr {
    color: #777777;
    margin-bottom: 15px;
}

h2 {
    clear: both;
    color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
}

#profpic {
    height: 200px;
    float: left;
}

p {
    color: black;
    background-color: #ffffff;
    text-align: justify;
    border: 20px;
}

footer {
    clear: both;
    background-color: darkblue;
    text-align: center;
    padding: 20px;
    bottom: 0;
    border-top:7px solid #4aaaa5;
}

#portfoliopara {
    background-color: #ffffff;
    margin-top: 130px;
    margin-bottom: 30px;
    margin-left: 18%;
    margin-right: 18%;
    float: left;
}

#Hangman {
    height: 250px;
    padding: 30px;
}

#Hangmanword {
    background-color: darkblue;
    font-size: medium;
    text-align: center;
    color: white;
    padding: 5px;
    position: absolute;
    top: 160px;
    left: 85px;
}

#Hangmanbox {
    clear: both;
    position: relative;
    float: left;
}

#Crystal {
    height: 250px;
    padding: 30px;
}

#Crystalword {
    background-color: darkblue;
    width: 100px;
    font-size: medium;
    text-align: center;
    color: white;
    padding: 5px;
    margin-left: 150px;
    position: absolute;
    top: 120px;
    left: 55px;
    }

#Crystalbox {
    position: relative;
    float: left;
}

#Trivia {
    height: 250px;
    padding: 30px;
}

#Triviaword {
    background-color: darkblue;
    width: 35%;
    font-size: medium;
    text-align: center;
    color: white;
    padding: 5px;
    position: absolute;
    top: -100px;
    left: 130px;
}

#Triviabox {
    position: relative;
}

#GIF {
    height: 250px;
    padding: 30px;
}

#GIFword {
    background-color: darkblue;
    width: 55px;
    font-size: medium;
    text-align: center;
    color: white;
    padding: 5px;
    position: absolute;
    top: 180px;
    left: 90px;
}

#GIFbox {
    position: relative;
    float: left;
}

#Train {
    height: 250px;
    padding: 30px;
}

#Trainword {
    background-color: darkblue;
    width: 75px;
    font-size: medium;
    text-align: center;
    color: white;
    padding: 5px;
    position: absolute;
    left: 85px;
    top: 180px;
}

#Trainbox {
    position: relative;
    float: left;
}

#Group {
    height: 250px;
    padding: 30px;
}

#Groupword {
    background-color: darkblue;
    width: 75px;
    font-size: medium;
    text-align: center;
    color: white;
    padding: 5px;
    position: absolute;
    top: 180px;
    left: 180px;
}

#Groupbox {
    position: relative;
    float: left;
}

.box {
    width: 100px;
    height: 30px;
}

#submit {
    background-color: darkblue;
    color: white;
    width: 80px;
}

#contactpage {
    color: darkblue;
    background-color: #ffffff;
    text-align: justify;
    border: 20px;
    padding: 15px;
}

#name {
    margin: 20px;   
}

#email {
    margin: 20px;
}

#message {
    margin: 20px;
    height: 300px; width: 600px;
}